body{
  background-color: white;
  color: #333;
  font-family:'Nunito';
}
a{
  color: #333;
  text-decoration: none;
}
.content{
  margin: 0 auto;
}
nav div {
  display: flex;
  padding: 10px;
  margin: 10px auto 2px;


}nav{
  border-bottom: 1px solid wheat;

}
nav div img.logo{
  margin-right: auto;
  padding: 10px;
}
div.menu-link{
  justify-content: flex-end;
  display: flex;
  margin-right: 60px;
}
footer{
  display: block;
 text-align: center;
 border-top: 1px solid rgba(68, 41, 54, 0.789);
 margin-top: 60px;
 padding: 10px;

}
.menu-link a{
  padding: 10px;
  margin-left: 20px;
}

.not-found{
  text-align: center;
}